


.footer-wrapper {
  background-color: #265f61; 
  color: #94a3b8; 
  font-family: 'Inter', sans-serif;
  padding-top: 60px;
  border-top: 4px solid  #79eff3; 
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px 50px 20px;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1.2fr;
  gap: 40px;
}


.footer-column h3 {
  color: #ffffff;
  font-size: 1.1rem;
  margin-bottom: 20px;
  font-weight: 600;
  position: relative;
}


.footer-column h3::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 30px;
  height: 2px;
  background-color: #7c9fec;
}


.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.footer-logo img {
  height: 100px;
  width: auto;
}

.footer-logo span {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}

.footer-desc {
  font-size: 0.9rem;
  line-height: 1.6;
  margin-bottom: 20px;
  max-width: 300px;
}


.social-icons {
  display: flex;
  gap: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background-color: #1e293b;
  color: white;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.social-link:hover {
  background-color: #12d9e7;
  transform: translateY(-3px);
}


.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: #94a3b8;
  text-decoration: none;
  font-size: 0.95rem;
  transition: color 0.2s ease;
}

.footer-links a:hover {
  color: #14f4fc;
  padding-left: 5px; 
}


.contact-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-list li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 15px;
  font-size: 0.9rem;
}

.contact-list a {
  color: #94a3b8;
  text-decoration: none;
  transition: color 0.2s;
}

.contact-list a:hover {
  color: #fff;
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eef2fc;
}


.footer-bottom {
  background-color: #186c6e;
  padding: 20px;
  border-top: 1px solid #0ac6cc;
}

.bottom-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
}


@media (max-width: 1024px) {
  .footer-container {
    grid-template-columns: 1fr 1fr; 
  }
}

@media (max-width: 600px) {
  .footer-container {
    grid-template-columns: 1fr; 
    text-align: center;
  }

  .footer-logo, .social-icons {
    justify-content: center;
  }

  .footer-column h3::after {
    left: 50%;
    transform: translateX(-50%);
  }

  .contact-list li {
    justify-content: center;
  }

  .bottom-content {
    flex-direction: column;
    gap: 10px;
  }
}